<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <managed_holiday>
            <settings>
                <enabled>1</enabled>
                <date_format><![CDATA[d/m/y]]></date_format>
            </settings>
        </managed_holiday>
    </default>
</config>